<div class="card">
  <h5 class="card-header">{{contacts.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{contacts.title}}</h5>
    <div class="row">
      <div class="col-sm-8">
        <button *ngFor="let tag of contacts.tag" type="button"
                [hidden]="!tag.status"
                class="btn btn-light">{{tag.name}}
        </button>
      </div>
      <div class="col-sm-4 d-flex justify-content-end">
        <button *ngIf="contacts === contacts"  (click)="!showTagPopUp();">
          TAGS V
        </button>

        <div class="tag-popup " *ngIf="isClick">
          <div class="contact-tag bg-light">
            <div *ngFor="let tag of contacts.tag">
              <a (click)="changStatus(tag)">
                {{tag.status ? '[x]' : '[ ]'}} {{tag.name}}
              </a>
              <div class="tag-edit"><a (click)="editTag($event, tag)">Edit</a> / <a (click)="deleteTag(tag)">Delete</a>
              </div>
            </div>
            <input [(ngModel)]="selectedTag.name" (keypress)="addTag($event);" placeholder="Add Tag and press Enter"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
